<app-navigation></app-navigation>

<!--Main Navigation asdf sdfasfaf-->
<header class="intro-header">



  <!--Intro Section-->
  <section class="view intro-2">
      <div class="full-bg-img mask rgba-stylish-strong">
          <div class="container flex-center">
              <div class="d-flex align-items-center w-100">
                  <div class="row flex-center pt-5 mt-3 w-100">
                      <div class="col-md-6 text-center text-md-left mb-5">
                          <div class="white-text">
                              <h2 class="h1 display-4 wow fadeInLeft" data-wow-delay="0.3s">Login</h2>
                              <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                              <h6 class="wow fadeInLeft" data-wow-delay="0.3s">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea dolor molestiae, quisquam iste.</h6>
                              <br>
                              <a class="btn elegant-color wow fadeInLeft waves-light" data-wow-delay="0.3s" mdbWavesEffect>Learn more</a>
                          </div>
                      </div>

                      <div class="col-md-6 col-xl-5 offset-xl-1">
                          <!--Form-->
                          <div class="card wow fadeInRight" data-wow-delay="0.3s">
                              <div class="card-body z-depth-2">
                                  <!--Header-->
                                  <div class="text-center">
                                      <h3>Login</h3>
                                      <hr>
                                  </div>
                                  <form [formGroup]='form' (submit)="onLogin()">
                                  <!--Body-->

                                  <div class="md-form">
                                      <i class="fa fa-envelope prefix grey-text"></i>
                                      <input type="text" id="form2" class="form-control" mdbInputDirective formControlName="email" >
                                      <label for="form2">Your email</label>
                                  </div>

                                  <div class="md-form">
                                    <i class="fa fa-lock prefix grey-text"></i>
                                    <input type="password" id="form3" class="form-control" mdbInputDirective formControlName="password" >
                                    <label for="form3">Your Password</label>
                                </div>
                                  <div class="text-center">
                                      <button class="btn elegant-color waves-light" type='submit' mdbWavesEffect>Submit</button>
                                      <hr>
                                  </div>
                                </form>

                              </div>
                          </div>
                          <!--/.Form-->
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>

</header>
<!--Main Navigation-->

<app-footer></app-footer>

