input[type='file']{
  visibility: hidden;
}

.image-preview {
height: 10rem;
margin: 1rem 0;
}

.image-preview img {
height: 100%;
border: black solid 2px;
}

.intro-header {
  height: unset !important;
}
.intro-2 {
  background: url("../../../assets/mantiTab.jpg")no-repeat center center;
  background-size: cover;
}
.view {
  height: 800px !important;
}
.top-nav-collapse {
  background-color: #ff8a65 !important;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
      background: #ff8a65 !important;
  }
}
.md-form .prefix {
  font-size: 1.5rem;
  margin-top: 1rem;
}
h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
      height: 1150px;
  }
}
