<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark elegant-color">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand text-white mr-5 ml-0" >Historic Utah Churches</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
              <a class="nav-link waves-light" mdbWavesEffect [routerLink]="['/']"><i class='fa fa-home'></i> Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown " dropdown>
            <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              <i class="fa fa-search"></i>  Search Churches <span class="caret"></span></a><!-- -->
            <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbWavesEffect >All Churches</a>
                <a class="dropdown-item waves-light" mdbWavesEffect >Baptist</a>
                <a class="dropdown-item waves-light" mdbWavesEffect >Catholic</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbWavesEffect >Separated link</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/register']" mdbWavesEffect><i class="fa fa-lock"></i>Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link waves-light" [routerLink]="['/login']" mdbWavesEffect><i class="fa fa-user"></i>Login</a>
        </li>
          <li class="nav-item">
              <a class="nav-link waves-light" [routerLink]="['/contact']" mdbWavesEffect><i class="fa fa-paper-plane"></i> Contact</a>
          </li>

          <!-- Dropdown -->


      </ul>
      <!-- Links -->

<!-- Search form -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--
  [routerlink]='/'
-->
