<!-- Jumbotron -->
<div class='view rgba-stylish-strong ' >
<div class="card card-image " style="background-image: url(../../../../../assets/manti2.jpg);">
  <div class="text-white text-center rgba-stylish-strong   py-5 px-4">
    <div class="py-5">


      <!-- Content -->
      <h1 class="h1 text-white pt-2"><i class="fa fa-camera-retro mr-2"></i>Historic Utah Churches</h1>
      <h3 class="card-title h2 my-4 py-3">History, Architecture, and Personal Stories</h3>

      <a class='elegant-color btn text-white mb-5'  mdbWavesEffect><i class='fa fa-search p1'></i> Search</a>
      <a class='elegant-color btn text-white mb-5'  mdbWavesEffect><i class='fa fa-paper-plane p1'></i> Contact</a>

      <p class='text-white text-center pt-5'>First Presbyterian Church Manti</p>
    </div>
  </div>
</div>
</div>
<!-- Jumbotron -->
