.post-image  {
  width: 100px;
  height: 100px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.intro-2 {
  background: url("../../../assets/mantiTab.jpg")no-repeat center center;
  background-size: cover;
}
