<app-admin-navigation></app-admin-navigation>


  <section class="intro-2 pt-5" >

      <div class='container pt-5 pb-5  '>

      <div class="card card-cascade narrower mt-5 mb-5">

          <!--Card image ggg asfsf-->
          <div class="view view-cascade gradient-card-header elegant-color narrower py-4 mx-4 mb-3 d-flex justify-content-center align-items-center pt-5">

            <h4 class="white-text font-weight-bold text-uppercase mb-0 ">Manage Churches</h4>

          </div>
          <!--/Card image asdfsd-->

          <div class="px-4">

            <!--Table-->
            <table class="table table-hover table-striped table-responsive w-auto mb-0 pt-5">

              <!--Table head-->
              <thead>
                <tr>
                  <th class="th-lg font-weight-bold" >Title</th>

                  <th class="th-lg font-weight-bold">Year Build</th>
                  <th class="th-lg font-weight-bold">Denomination</th>
                  <th class="th-lg font-weight-bold">History</th>
                  <th class="th-lg font-weight-bold">City</th>
                  <th class="th-lg font-weight-bold">County</th>
                  <th class="th-lg font-weight-bold">Pictures</th>
                  <th class="th-lg font-weight-bold">Edit</th>
                  <th class="th-lg font-weight-bold">Delete</th>
                </tr>
              </thead>
              <!--Table head-->

              <!--Table body *ngIf="data.id >= firstVisibleIndex && data.id <= lastVisibleIndex"  *ngIf="data.id >= firstVisibleIndex && data.id <= lastVisibleIndex"-->
              <tbody>
                <tr *ngFor="let church of churches; let i = index">
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold' >{{church.title}}</td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold' >{{church.year}}</td>
                  <td *ngIf="i >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold'>{{church.denomination}}</td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold' >{{church.history}}</td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold'>{{church.city}}</td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold'>{{church.county}}</td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold' ><img [src]="church.imagePath" [alt]="church.title"  class="post-image"></td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold'><button class='btn btn-success' [routerLink]="['/editChurch', church._id]">Edit</button> </td>
                  <td *ngIf=" i  >= firstVisibleIndex && i <= lastVisibleIndex" class='font-weight-bold'><button class='btn btn-danger'  (click)="onDelete(church._id)">Delete</button> </td>
                </tr>
              </tbody>
              <!--Table body-->
            </table>

          </div>

          <hr class="my-0">

          <!--Bottom Table UI-->
          <div class="d-flex justify-content-center">

            <!--Pagination -->
            <nav class="my-4 pt-2">
              <ul class="pagination pagination-circle pg-elegant-color mb-0">

                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="firstPage()" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link font-weight-bold">First</a>
                </li>

                <!--Arrow left-->
                <li class="page-item" (click)="previousPage($event)" [ngClass]="{disabled: activePage == 1}">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only font-weight-bold ">Previous</span>
                  </a>
                </li>

                <!--Numbers-->
                <li #pages *ngFor="let page of paginators | slice:firstVisiblePaginator:lastVisiblePaginator; let i = index" class="page-item" [ngClass]="{active: i + firstVisiblePaginator + 1 == activePage}">
                    <a class="page-link waves-lightfont-weight-bold " (click)="changePage($event)" mdbWavesEffect>{{page}}</a>
                </li>



                <!--Arrow right-->
                <li class="page-item" (click)='nextPage($event)' [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only font-weight-bold">Next</span>
                  </a>
                </li>

                <!--First-->
                <li class="page-item clearfix d-none d-md-block" (click)="lastPage()" [ngClass]="{disabled: activePage == numberOfPaginators}">
                  <a class="page-link font-weight-bold">Last</a>
                </li>

              </ul>
            </nav>
            <!--/Pagination -->

          </div>
          <!--Bottom Table UI-->

        </div>

      </div>

      </section>


      <app-admin-footer></app-admin-footer>
